<% include partials/header %>

  <header>
    <navbar class="navbar fixed-top">
      <h1 id="appName">The Drink Library</h1>
      <div class="dropdown">
        <img src="/public/assets/images/martini.jpg" onclick="myFunction()" class="dropbtn btn-lg dropbtn">
        <div id="myDropdown" class="dropdown-content">
          <p onclick="showAbout()">ABOUT</p>
          <p onclick="showSearchForm()">MAKE A DRINK WITH WHAT I HAVE</p>
          <p onclick="showAltSearchForm()">Search Drinks</P>
        </div>
      </div>
    </navbar>
  </header>

  <div id="about" class="row">
    <h1>THIS IS THE ABOUT SECTION</h1>
    <h1>THIS IS THE ABOUT SECTION</h1>
    <h1>THIS IS THE ABOUT SECTION</h1>
    <h1>THIS IS THE ABOUT SECTION</h1>
    <p class="closeDiv" onclick="closeAboutDiv()">CLOSE</p>
  </div>

  <div id="display" class="container">
    <!-- <div id="search" class="row"> -->
    <!-- <div id="search" class="col-sm-6"> -->
    <form>
      <input type="text" placeholder="INGREDIENTS">
      <a href="home.ejs">
        <button onclick="showSearchResults()" id="findDrinkBtn" class="btn" type "submit">WHAT CAN I MAKE?</button>
      </a>
    </form>
    <!-- <p class="closeDiv" onclick="closeSearchDiv()">CLOSE</p> -->
    <!-- </div> -->
    <!-- <div id="searchResultsDisplay" class="row"></div>
    <!-- <div id="searchResultsDisplay" class='col-sm-6'> -->
    <!-- <h1>HERE'S WHAT WE FOUND...</h1>
    <br>
    <h5>SEARCH RESULTS WILL POPULATE HERE</h5>
    <h5>SEARCH RESULTS WILL POPULATE HERE</h5>
    <h5>SEARCH RESULTS WILL POPULATE HERE</h5>
    <h5>SEARCH RESULTS WILL POPULATE HERE</h5>
    <h5>SEARCH RESULTS WILL POPULATE HERE</h5>
    <h5>SEARCH RESULTS WILL POPULATE HERE</h5> -->
    <p class="closeDiv" onclick="closeSearchDiv()">CLOSE</p>
    <!-- </div> -->
  </div>

  <div id="search" class="container">
    <form action="/search" method="GET">
      <input type="text" placeholder="Search" name="drink">
      <input type="submit">
    </form>
    <p class="closeDiv" onclick="closeAltSearchDiv()">CLOSE</p>
  </div>

<% include partials/footer %>